.project-main-container{
    background-color: var(--projectBackgroundColor);
    min-height: 100vh;
    /* min-height: calc(var(--vh, 1vh) * 100); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5em;
    padding-bottom: 4em;
}

.topline{
    width: 75px;
    height: 2px;
    background-color: var(--yellowOnLight);
    margin: auto;
    margin-bottom: 1em;
    margin-top: 4em;
}

.top-projects-title{
    text-align: center;
    font-family: jura;
    color: var(--projectTextColor);
    font-size: 2em;
    margin-top: 1em;
}

.projects-container{
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding-top: 5em;
    align-items: center;
}

.project{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 95%;
    min-height: 400px;
    margin-bottom: 1em;
}

.project-image{
    /* height: 100%; */
    box-shadow: 0 0 10px rgba(0,0,0, .5);
    text-align: center;
    
}

.project-image{
    min-width: 400px;
    min-height: 300px;
    max-width: 400px;
    max-height: 300px;
}

img{
    width: 100%;
    height: 100%;
}
.project-info{
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0 0 0 5em;
    /* min-height: 300px; */
    width: 500px;
    min-height: 300px;
}
.project-title{
    font-family: jura;
    font-size: 1.8em;
    color: var(--projectTextColor)
}

.project-desc{
    color: var(--projectTextColor);
}
.project-tools{
   color: #CCCCCC;
   justify-self: center;
   font-family: 'Jura';
}

.project-line{
    width: 50px;
    height: 1px;
    background-color: var(--projectTextColor);
    margin-top: 1em;
    margin-bottom: 1em;
}

.project-view{
    display: flex
}

.view-button{
    color: var(--projectTextColor);
    border: 2px solid var(--projectTextColor);
    border-radius: 4px;
    margin-right: 1em;
    margin-top: 1em;
    padding: 2px 0;
    font-family: jura;
    width: 100px;
    text-align: center;
}

.view-button:hover{
    cursor: pointer;
    color: var(--yellowOnDark);
    border: 2px solid var(--yellowOnLight);
    border-radius: 4px;
    margin-right: 1em;
    
    padding: 2px 0;
    font-family: jura;
    width: 100px;
    text-align: center;
}


@media only screen and (max-width: 800px) {
    .topline{margin: 0 auto 1em auto}
    .project-main-container{
        padding-top: 6em;
    }
    .project{
        display: flex;
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
        margin-top: 2em;

    }

    .project-info{
        position: relative;
        align-items: center;
        text-align: center;
        width: 90%;
        margin: 0;
        padding: 0;
    }

    .project-info > *{
        margin-top: .5em;
    }

    .project-line{
        width: 50px;
        height: 1px;
        background-color: var(--projectTextColor);
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .project-image{
        max-width: 300px;
        max-height: 225px;
        min-width: 300px;
        min-height: 225px;

        object-fit: cover;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

@media only screen and (min-width: 1200px) {


}
