.personal-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%
}
.personal-picture{
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.personal-picture > * {
    margin-bottom: 1em;
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 500px;
    margin: 0 1em;
}


.about-content > *{
    margin-bottom: 1em;
}

.about-title{
    font-family: jura;
    font-size: 2em;
    color: var(--normalTextColor);
}

.about-text{
    font-family: jura;
    font-size: 1em;
    color: #1d1d1d;
}


/* Laptops and smaller desktops */
@media only screen and (min-width: 992px ){
    .about-title{
        font-size: 3em;
    }

    .about-text{
        font-size: 1em;
    }
}

/* Extra Large Screen */
@media only screen and (min-width: 1500px ){
    .about-title{
        font-size: 3em;
    }

    .about-text{
        font-size: 1em;
    }
}