.summary-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 70vh;
    height: 100%;
    /* height: calc(var(--vh, 1vh) * 100); */
    width: 100%;
    padding-top: 5em;
    margin-bottom: 5em;
}

@media only screen and (max-width: 700px){
    .summary-container{
        min-height: 80vh;
        margin-bottom: 6em;
    }
}

@media only screen and (max-width: 1400px){
    .summary-container{
        padding-top: 3.2em;
    }
}
@media screen and (max-width: 750px) and (max-height: 750px){
    .summary-container{
        padding-top: 6em;
    }
}