.contact-container{
    height: 100%;
    width: 100%;
    padding-top: 5em;
    padding-bottom: .5em;
}

.contact-content-container{
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 50%;
}

.contact-content-container > * {
    margin: 1em 0;
}


.contact-topline{
    width: 60px;
    border-bottom: 1px solid #75B7B3;
}

.contact-title{
    color: var(--normalTextColor);
    font-family: jura;
    font-size: 2em;
}

.contact-desc{
    text-align: center;
    width: 50%;
}

.contact-email{
    color: var(--normalTextColor)
}

.icon-container{
    color: var(--normalTextColor)
}

.icon-container > *{
    margin: 0 .5em;
}

@media only screen and (max-width: 802px){
    .contact-content-container{
        width: 100%;
    }

}