.contact-container{
    min-height: 700px;
    max-height: 800px;
    width: 100%;
    padding-top: 5em;
    padding-bottom: .5em;
}

.contact-content-container{
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 50%;
}

.contact-content-container > * {
    margin: 1em 0;
}


.contact-topline{
    width: 75px;
    border-bottom: 2px solid #C3AC59;
    margin-top: 4em;
    margin-bottom: 1em;
}

.contact-title{
    color: var(--normalTextColor);
    font-family: jura;
    font-size: 2em;
}

.contact-desc{
    font-family: 'Open Sans';
    text-align: center;
    width: 50%;
}

.contact-email{
    color: var(--normalTextColor);
    font-family: 'Jura';
    margin-bottom: 3em;
}

.contact-email:hover a{
    color: #b68e00
}

.contact-also{
    font-family: 'Open Sans';
}

.icon-container{
    color: var(--normalTextColor)
}

.icon-container > *{
    margin: 0 .5em;
}

@media only screen and (max-width: 802px){
    .contact-topline{
        margin-top: 0;
    }
    .contact-content-container{
        width: 100%;
        
    }

    .contact-container{
        height: calc(var(--vh, 1vh) * 100);
        padding-top: 6em;
    }



}

@media only screen and (max-height: 900px){
    .contact-container{
        min-height: 500px;
        max-height: 700px;
    }
}