:root{
    --normalTextColor: #307672;
    --projectTextColor: #F2F6F5;
    --projectBackgroundColor: #343a3d;
    --backgroundColor: #F2F6F5;
    --navbarBackgroundColor: #307672;
    --yellowOnDark: #FBD037;
    --yellowOnLight: #C89C00;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--backgroundColor);
}
html, body{
    max-width: 100%;
    max-height: 100%;

}
.df{
    display: flex;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

a,
a:hover,
a:visited,
a:active{
    text-decoration: none;
    color: var(--normalTextColor)
}