.skills-outside-container{
    height: 20%;
    width: 100%;
}

.skills-inside-container{
    width: 100%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
}

.skills-title{
    text-align: center;
    font-family: jura;
    font-size: 1em;
    color: var(--normalTextColor);
}

.skill{
    width: fit-content;
    padding-right: 1em;
    font-size: .5em;
    font-family: jura;
}

.b-right{
    border-right: 1px black solid;
}

@media only screen and (min-width: 992px){
    .skills-title{
        font-size: 1.5em;
    }

    .skill{
        font-size: 1em;
    }
}

/* @media only screen and (max-width: 1300px){
    .skills-inside-container{
        width: 670px;
    }
}

@media only screen and (max-width: 850px){
    .skills-inside-container{
        width: 100%;
    }
} */